<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.louyotedouard.test" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".choixMode"
            android:label="@string/title_activity_choix_mode" >
        </activity>
        <activity
            android:name=".avisClient"
            android:label="@string/title_activity_avis_client" >
        </activity>
        <activity
            android:name=".FormulaireInscription"
            android:label="@string/title_activity_formulaire_inscription" >
        </activity>
        <activity
            android:name=".CodeMagasins"
            android:label="@string/title_activity_code_magasins" >
        </activity>
        <activity
            android:name=".testDataHL"
            android:label="@string/title_activity_test_data_hl" >
        </activity>
    </application>

</manifest>
